mixin videoMixin(videoInfo)
       div
            h4
                a(href=`/videos/${videoInfo.id}`)=videoInfo.title
            ul 
                li #{videoInfo.rating}/10
                li #{videoInfo.comments} comments.
                li #{videoInfo.views} views
                li created : #{videoInfo.createdAt} 